* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-image: url('/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.container {
  margin: 5rem 10%;
  padding: 2rem 3rem;
  width: 100%;
  max-width: 80%;
  background-color: white;
  border-radius: 2rem;
}

.label {
  font-size: 2.2rem;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.notebook-icon-img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.task-input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.task-input-field input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.task-input-field button{
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: #19803f;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: 0.3s ease;
}

.task-input-field button:hover{
  background-color: #16b54f;
}

.checked-task {
  text-decoration: line-through;
  color: gray;
}

ul li {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  transition: 0.3s ease;
}

.task-content {
  width: 90%;
  font-size: 1.2rem;
}

.task-content svg{
  cursor: pointer;;
  padding-top: 4px;
  margin-right: 0.5rem;
}

.task-buttons {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.task-buttons button {
  width: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-button {
  color: #214d8f;
}

.edit-button:hover {
  color: #5690d6;
}

.delete-button {
  color: #a82f2f;
}

.delete-button:hover {
  color: #c94f4f;
}

.task-buttons svg {
  font-size: 1.2rem;
}

@media (max-width:768px) {
  .label {
    font-size: 1.7rem;
  }
  
  .notebook-icon-img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .task-input-field input{
    font-size: 0.8rem;
  }
  
  .task-input-field button{
    font-size: 0.7rem;
  }

  .task-content {
    font-size: 0.8rem;
  }

  .task-buttons svg {
    font-size: 0.8rem;
  }
}

@media (max-width:540px) {
  .label {
    font-size: 1rem;
  }
  
  .notebook-icon-img {
    width: 1rem;
    height: 1rem;
  }

  .task-input-field {
    margin-bottom: 1rem;
  }

  .task-input-field input{
    font-size: 0.5rem;
    padding: 0rem;
  }
  
  .task-input-field button{
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
  }

  ul li {
    margin-bottom: 0.5rem;
  }

  .task-content {
    margin-top: 0.2rem;
    font-size: 0.5rem;
  }

  .task-content svg{
    cursor: pointer;;
    padding-top: 2.5px;
    margin-right: 0.5rem;
  }

  .task-buttons svg {
    font-size: 0.5rem;
  }

  @media (max-width:426px) {
    .container {
      padding: 2rem 2rem;
    }
  }
}