* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

.container {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.to-do-list {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.label {
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.notebook-icon-img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.task-input-field {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 20px;
}

.add-button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: seagreen;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 40px;
}

.add-button:hover {
  background-color: green;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("./assets/uncheck.png");
  background-size: cover;
  background-position: center;
  top: 11px;
  left: 8px;
  transition: 0.4s ease;
}

ul li.checked {
  color: gray;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url("./assets/check.png");
}

.move-down-button {
  position: absolute;
  right: 100px;
  top: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
  background-color: white;
}

.move-up-button {
  position: absolute;
  right: 50px;
  top: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
  background-color: white;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
  background-color: white;
}

.move-down-button:hover, .move-up-button:hover, .delete-button:hover {
  background-color: lightgray;
}

.move-down-button-img, .move-up-button-img{
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.delete-button-img {
  margin-top: 8px;
  width: 25px;
  height: 25px;
}

.text {
  flex: 1; 
}

@media (max-width:768px) {
  .container {
    min-width: 768px;
  }
}

@media (max-width:425px) {
  .container {
    min-width: 425px;
  }

  .label {
    font-size: 20px;
  }

  .notebook-icon-img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .task-input-field {
    font-size: 14px;
  }

  .add-button {
    padding: 16px 30px;
    font-size: 14px;
  }

  ul li {
    font-size: 12px;
    padding: 12px 8px 12px 40px;
  }
  
  ul li::before {
    height: 20px;
    width: 20px;
    top: 10px;
    left: 8px;
  }
  
  .move-down-button {
    right: 70px;
    top: 8px;
    width: 30px;
    height: 30px;
  }
  
  .move-up-button {
    right: 35px;
    top: 8px;
    width: 30px;
    height: 30px;
  }
  
  .delete-button {
    right: 0;
    top: 8px;
    width: 30px;
    height: 30px;
  }
  
  .move-down-button-img, .move-up-button-img{
    margin-top: 5px;
    width: 20px;
    height: 20px;
  }
  
  .delete-button-img {
    margin-top: 5px;
    width: 17px;
    height: 17px;
  }
}